* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

:root{
    --bgWhiteMode: #e1e1e1;
}

body {
    margin: 0;
    background-color: var(--bgWhiteMode);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.main {
    background-color: #fff;
    width: 96%;
    height: 92%;
    border-radius: 36px;
}

.main, .login, form{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-frame{
    background-color: #ffffff;
    border-radius: 96px;
    width: 64px;
    height: 64px;
    left: 8px;
    top: 8px;
    position: absolute;
    color: #362A5C;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.side-bar {
    background-color: #f5f5f5;
    width: 20%;
    height: 88%;
    position: absolute;
    left: 3vw;
    border-radius: 16px;
    top: 6vh;
}

.icon-frame-text {
    font-size: 12px;
    font-weight: 500;
}

span {
    font-family: 'Ubuntu', sans-serif;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    line-height: 2;
    color: #ccc5e2;
  }

.extras {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
    color: #362A5C;
    line-height: 1.5;
}
  .cor-clicado {
    color: #362A5C;
}

.navigation span,
.extras span {
  cursor: pointer;
}

.login {
    height: 100%;
    background-color: #f5f5f5;
    width: 48%;
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 12px;
    font-family: 'Ubuntu', sans-serif;
    color: #362A5C;
    width: 90%;
    
}

form{
    width: 100%;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #2b2b48;
    font-family: 'Ubuntu', sans-serif;
}

input, button[type="submit"] {
    height: 32px;
    border-radius: 8px;
    border: 2px solid white;
    background-color: transparent;
}

button[type="submit"] {
    border: none;
    background-color: #bebbc2;
    color: #2b2248;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;    
}

button[type="submit"]:hover {
    background-color: #dbd7e0;;

}

input::placeholder {
    color: #c2bfca;
}

input {
    padding: 0 8px;
    color: #362A5C;
    font-family: 'Ubuntu', sans-serif;
}